<%= form_for [:admin, @event], :html => { :class => 'form-horizontal' } do |f| %>
  <%= render 'shared/admin/error_messages', :target => @event %>
  
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Event</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_field', :rows => "15", :style => "width:400px" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :day, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :day, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :month, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :month, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :year, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :year, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :time, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :time, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :organizer, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :organizer, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :location, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :location, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :location_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :location_url, :class => 'text_field', :style => "width:500px"%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :icon, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :icon, event_icon_select_options, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :further_Info, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :follow, :class => 'text_field', :style => "width:500px" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', admin_events_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
