<div class="row">
  <div class="span12">
    <h1>Events</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Organizer</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= link_to(event.name, edit_admin_event_path(event)) %></td>
            <td><%= l Date.new(event.year, event.month, event.day), :format => :long %></td>
            <td><%= event.organizer %></td>
            <td><%= event.location %></td>
            <td>
              <%= link_to 'Edit', edit_admin_event_path(event), :class => 'btn btn-mini' %>
              <%= link_to 'Destroy', admin_event_path(event), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New', new_admin_event_path, :class => 'btn btn-primary' %>
  </div>
</div>

<div id="clone_events" class="row">
  <div class="span12">
    <%= form_tag clone_admin_events_path do %>
      <fieldset>
        <legend>Clone Events</legend>

        <div class="control-group">
          <%= label_tag :year_from, nil, :class => 'control-label' %>
          <div class="controls">
            <%= text_field_tag :year_from, Date.today.year, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :month_from, nil, :class => 'control-label' %>
          <div class="controls">
            <%= text_field_tag :month_from, Date.today.month, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :year_to, nil, :class => 'control-label' %>
          <div class="controls">
            <%= text_field_tag :year_to, clone_year_to, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :month_to, nil, :class => 'control-label' %>
          <div class="controls">
            <%= text_field_tag :month_to, Date.today.advance(:months => 1).month, :class => 'text_field' %>
          </div>
        </div>
    
        <%= submit_tag 'Clone', :class => 'btn btn-primary' %>
      </fieldset>
    <% end %>
  </div>
</div>