<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Day:</b>
  <%= @event.day %>
</p>


<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Month:</b>
  <%= @event.month %>
</p>

<p>
  <b>Year:</b>
  <%= @event.year %>
</p>

<p>
  <b>Organizer:</b>
  <%= @event.organizer %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Location url:</b>
  <%= @event.location_url %>
</p>

<p>
  <b>Icon:</b>
  <%= @event.icon %>
</p>

<p>
  <b>Url:</b>
  <%= @event.url %>
</p>

<p>
  <b>Follow:</b>
  <%= @event.follow %>
</p>


<%= link_to 'Edit', edit_admin_event_path(@event) %> |
<%= link_to 'Back', admin_events_path %>
