<h1>Event</h1>

<p>
  <br>
  <b>Name</b><br>
  <%= @event.name %>
</p>

<p>
  <b>Description</b><br>
  <%= @event.description %>
</p>

<p>
  <b>Day</b><br>
  <%= @event.day %>
</p>

<p>
  <b>Month</b><br>
  <%= @event.month %>
</p>

<p>
  <b>Year</b><br>
  <%= @event.year %>
</p>

<p>
  <b>Time</b><br>
  <%= @event.time %>
</p>

<p>
  <b>Organizer</b><br>
  <%= @event.organizer %>
</p>

<p>
  <b>Location</b><br>
  <%= @event.location %>
</p>

<p>
  <b>Location url</b><br>
  <%= @event.location_url %>
</p>

<p>
  <b>Url</b><br>
  <%= @event.url %>
</p>

<p>
  <b>Icon</b><br>
  <code><%= @event.icon %></code>
  <span class="icon <%= @event.icon %>">
</p>

<p>
  <b>Follow</b><br>
  <%= @event.follow %>
</p>

<div class="form-actions">
  <%= link_to 'Back', admin_events_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_admin_event_path(@event), :class => 'btn' %>
  <%= link_to 'Delete', admin_event_path(@event), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
