<p><%= event.name %></p>
<p><%= event.description %></p>
<p><%= show_date(event) %></p>
<p><%= event.organizer %></p>
<p><%= event.icon %></p>
<p><%= event.follow %></p>

<p><%= link_to event.name, event_path(event) %></p>
